:root {
  --primay: #e36767;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  background: gray;
  color: black;
} */

.product-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  margin-top: 20px;
}

.product-card {
  box-shadow: 0px 7px 32px rgba(0, 0, 0, 0.25);
  width: 600px;
  min-height: 150px;
  border-radius: 5px;
  display: flex;
}

.image-container {
  flex: 1;
  border-right: 1px solid black;
  padding: 10px 30px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-content {
  flex: 5;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

/* product contain styling */

.product-content h2 {
  font-size: 16px;
  font-weight: 500;
}
.product-content p {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.8;
}

.product-content button {
  padding: 5px 20px;
  font-size: 20px;
  border: none;
  outline: none;
  background: var(--primay);
  color: white;
  margin-top: 10px;
  border-radius: 5px;
  align-self: flex-end;
}

/* Input field styling */

.input-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* padding: 10px; */
  width: 600px;
  /* position: fixed; */
  left: 30%;
  margin: 10px auto;
}

.input-container input {
  width: 100%;
  padding-left: 35px;
  height: 35px;
  border-radius: 7px;
  border: 2px solid var(--primay);
  outline: none;

  color: var(--primay);
}
.input-container input::placeholder {
  color: var(--primay);
}

.search-icon {
  position: relative;
  left: 40px;
  margin-left: -40px;
  display: grid;
  place-items: center;
}

/* media queries for responsiveness */

@media (max-width: 1000px) {
  .input-container {
    left: 10%;
  }
}

@media (max-width: 630px) {
  .product-card {
    width: 90%;
  }
  .input-container {
    width: 90%;
    left: 4%;
  }
}
@media (max-width: 430px) {
  .product-card {
    flex-direction: column;
  }
  .product-content button {
    align-self: stretch;
  }
}
