*{ 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box; 
    font-family: sans-serif; 
}

html, body{
    height: 100vh;
    width: 100%;
    background: #451070;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box{
    width: 280px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
}

input{
    padding: 15px;
    font-size: 15px;
    width: 250px;
    outline: none;
    border: none;
    border-radius: 10px;
}

img{
    width: 20px;   
}